/* Main: Styles for the website main content. */

.main {
	display: flex;
	flex-flow: row wrap-reverse;
	max-width: 1280px;
	gap: 24px 48px;
	padding: 32px 24px;
	margin: 0 auto;
	& > * {
		flex: 1 1 320px;
	}
	& > :first-child {
		max-width: 980px;
		flex: 1 1 640px;
	}
}