/* Page: Styles for the whole webpage. */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/* Aside: Styles for the website secondary content. */
.aside {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px 32px;
}

/* Card: A basic floating card. */
.card {
  display: block;
  flex: 1 1 auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 0 16px rgba(102, 75, 75, 0.3);
  padding: 32px 24px;
  overflow: hidden;
}
.card-title {
  text-align: center;
}
.card-image {
  display: block;
  width: 160px;
  margin: 8px auto;
}

/* Footer: Styles for the website footer. */
.footer {
  display: block;
  background-color: rgb(42, 171, 226);
  padding: 16px;
  overflow: hidden;
}
.footer .footer-help {
  position: fixed;
  right: 8px;
  bottom: 8px;
  display: block;
  text-align: center;
  width: 36px;
  line-height: 32px;
  border-radius: 9999px;
  border: 2px solid currentColor;
  background-color: inherit;
  color: inherit;
  float: right;
}

/* Gallery: CSS for the webpage image gallery. */
.gallery {
  display: block;
}
.gallery-title {
  display: inline-block;
}
.gallery-link {
  float: right;
  clear: right;
}
.gallery-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 24px;
  margin: 16px 0;
}
.gallery-link:focus + .gallery-images {
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

/* Header: Styles for the website navigation header. */
.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  display: block;
  background-color: rgb(37, 37, 37);
  color: white;
  padding: 16px 24px;
  overflow: hidden;
}
.header-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  gap: 4px 16px;
  margin: auto;
}
.header-title {
  color: rgb(42, 171, 226);
}
.header-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 2px 24px;
}
.header-links a[href] {
  color: inherit;
}

/* Main: Styles for the website main content. */
.main {
  display: flex;
  flex-flow: row wrap-reverse;
  max-width: 1280px;
  gap: 24px 48px;
  padding: 32px 24px;
  margin: 0 auto;
}
.main > * {
  flex: 1 1 320px;
}
.main > :first-child {
  max-width: 980px;
  flex: 1 1 640px;
}

*, ::before, ::after {
  box-sizing: border-box;
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin: 4px 0;
}

h1 {
  font-size: 1.953125em;
}

h2 {
  font-size: 1.5625em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.8em;
}

h6 {
  font-size: 0.64em;
}

a[href] {
  color: rgb(42, 171, 226);
}
a[href]:not(:hover, :focus) {
  text-decoration-line: none;
}
